@font-face {
    font-family: yekan;
    src: url("/assets/font/persianFont/yekan-font/yekan-regular.woff");
    src: url("/assets/font/persianFont/yekan-font/yekan-regular.ttf");

}

*{
    font-family: yekan;
}

body{
    background: url("/assets/images/background.jpg") center/cover , linear-gradient(to top , black , white);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin: 0;
    padding: 0;
}

header{
    background: linear-gradient(to left , rgba(0,0,255,0.504) , rgba(183,0,183,0.635));
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    box-shadow: 0 2px 20px gray;
}

.container{
    max-width: 900px;
    /* height: calc(100vh - 4rem); */
    margin: 2rem auto;
    background: #ffffffd0;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    box-shadow: 0 0 25px rgba(128, 128, 128, 0.4);
}

.products , .cart{
    flex: 1;
}

.products-list{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1.5rem;
}

.product {
    background: rgba(255, 0, 0, 0.315);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 1px 4px #0001;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.8);
}

.product img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.product-title{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.product-price{
    color: #4f8ef7;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.add-btn{
    background: #8001ae;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.add-btn:hover{
    background: #3573d7;
}

.cart{
    background: linear-gradient(to top, rgba(135, 1, 135,0.5), #f0f4ff);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 1px 4px #0001;
    min-width: 250px;
    box-shadow: 0 0 15px gray;
}

.cart-title{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.cart-list{
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
    background: #e3eaff;
    border-radius: 6px;
    padding: 0.5rem;
}

.cart-item-title{
    font-size: 1rem;
    flex: 1;
}